# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/

# Environment files
.env

# Data files
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Artifacts
artifacts/*
!artifacts/.gitkeep

# OS / editor junk
.DS_Store
.vscode/